In [1]:
dir

In [2]:
import pandas as pd

In [3]:
records = {
    'col1': ('A', 'L', 'A', 'N'),
    'col2': ('L', 'A', 'N', 'A'),
    'col3': ('A', 'N', 'A', 'L'),
    'col4': ('N', 'A', 'L', 'A')
}

In [4]:
records

{'col1': ('A', 'L', 'A', 'N'),
 'col2': ('L', 'A', 'N', 'A'),
 'col3': ('A', 'N', 'A', 'L'),
 'col4': ('N', 'A', 'L', 'A')}

In [5]:
df = pd.DataFrame.from_dict(records)

In [6]:
df

  col1 col2 col3 col4
0    A    L    A    N
1    L    A    N    A
2    A    N    A    L
3    N    A    L    A

In [7]:
df[(df.col1 == 'A') & (df.col2 == 'L')]

  col1 col2 col3 col4
0    A    L    A    N

In [8]:
# Deprecated since version 0.21.0: Use df.loc[df.index.map(crit)] to select via labels
#Â https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.select.html?highlight=select#pandas.DataFrame.select
df.select

<bound method DataFrame.select of   col1 col2 col3 col4
0    A    L    A    N
1    L    A    N    A
2    A    N    A    L
3    N    A    L    A>

See this article:

https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas

In [17]:
class Records(object):
    def __init__(self, records):
        self.records = records
    #def __repr__(self):
    #    return self.records

In [18]:
rec = Records(df)

In [22]:
rec

In [24]:
print rec.records

  col1 col2 col3 col4
0    A    L    A    N
1    L    A    N    A
2    A    N    A    L
3    N    A    L    A

In [25]:
display df.to_html()

SyntaxError: invalid syntax (<ipython-input-25-8a53a1f7cb7c>, line 1)

In [27]:
display(rec.records)

  col1 col2 col3 col4
0    A    L    A    N
1    L    A    N    A
2    A    N    A    L
3    N    A    L    A